<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Page Detail </title>
</head>
<body>
    <h1> {{ webpage.info }}</h1>
    <h2> {{ webpage.page_url }}</h2>
    <img src = "{{ webpage.logo}}"> </img>
    <h3> Total of :{{ webpage.searchitem_set.count }} product </h3>

    <ul>
        {% for item in webpage.searchitem_set.all %}
            <li> <a href="/search/{{item.title}}/">  {{ item.title }} - {{ item.price }} </a></li>
        {% endfor %}
    </ul>

</body>
</html>