{% extends 'page/base.html' %}

{% block body %}
    <div class="container padding-kit">
        {% if all_page %}
        {% for page in all_page %}
        <div class="row">
            <h1> {{ page.info }}</h1>
            <div class="well">
            {% for item in page.searchitem_set.all %}
            <div class="list-group">
            <form method="POST" role="form" action="{% url 'search:specs' %}">
            {% csrf_token %}
            <input type="checkbox" id="items" name="compare[]" value="{{ item.id }}">
              <a href="/search/{{item.URLstrip}}" class="list-group-item active">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            {% load static %}
                            <img class="media-object img-rounded img-responsive"  src="{{ item.pic }}">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <p class="text-left title-bold"> {{ item.title }}  </p>
                        <p class="list-group-price"> {{ item.price }}</p>
                        <p class="list-group-item-heading"> {{ item.detail }} </p>
                        <p class="list-group-item-text"> {{item.condition}} </p>
                        <p class="list-group-item-text"> {{item.location}} </p>
                    </div>
                    <div class="col-md-3 text-center content-rating">
                        <h2><small> Rating </small></h2>
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p> Average {{item.rating}} <small> / </small> {{item.rating}} </p>
                        <button type="button" class="btn btn-default btn-lg btn-block"> Buy Now ! </button>
                    </div>
              </a>
            </input>
            </form>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1> No Page to crawl </h1>
        {% endif %}
    </div>
    <div>
        <a href="http://127.0.0.1:8000/search/compare"><input type="button" value="Compare" ></a>
    </div>
    </body>
    {% load static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    {% load static %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </html>
{% endblock %}
